
.admin_function_container {
    background-color: red;

    /* 중앙 정렬 */
    margin: 0 auto;
    width: 1200px;
    height: auto;
    
    display: flex;
}



.admin_function_container > .admin_menu{
    flex-grow: 1;
    min-height: 1000px;
}

.admin_function_container > .admin_info{
    flex-grow: 9;
    min-height: 1000px;
}


.admin_function_container > div{
    background-color: pink;

    border-style: solid;
    border-color: black;
    border-width: 1px;
}