
.admin_function_container {
    background-color: red;

    /* 중앙 정렬 */
    margin: 0 auto;
    width: 1200px;
    height: auto;
    
    display: flex;
    overflow: hidden;
}


.admin_function_container > .admin_menu{
    width: 200px;
    min-height: 1000px;

    display: flex;
    flex-direction: column;
}

.admin_menu > a{
    width: 100%;
    background-color: gray;
    border-style: solid;
    border-color: black;
    border-width: 1px;

    padding: 10px 0px;
    margin: 3px 0;
}
.admin_menu > a:hover{
    background-color: darkgray;
}

.admin_function_container > .admin_info{
    width: 100%;
    /* flex-grow: 9; */
    min-height: 1000px;
}


.admin_function_container > div{
    background-color: pink;

    border-style: solid;
    border-color: black;
    border-width: 1px;
}


table.user_list {
    width: 50%;

}

table.user_list thead{
    padding : 2px, 2px;
    border-style: solid;
    border-style: black;
    border-width: 1px;
}

table.user_list th{
    padding : 2px, 2px;
    border-style: solid;
    border-style: black;
    border-width: 1px;
}

table.user_list td{
    padding : 3px 3px;
    margin: 3px 3px;
    border-style: solid;
    border-style: black;
    border-width: 1px;
}

tr:hover{
    background-color: gray;
}