/* absolute 의 영향을 나게 할려면 부모가 relative realative 를 어디다 설정을 하느냐가 관건이다  */

/* 드롭박스 참고 https://rgy0409.tistory.com/2963 */

.menu_container{
    text-align: center;
    height: 100%;

    display: flex;
    justify-content: center;

    position: relative; 
}
.menu_container > li{
    display: inline-block; 
    padding: 10px 80px; 
    
}

.menu_container > li:hover{
    background-color: aqua;
}




.menu_container > li:hover > .dropdown_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10%, auto));
    justify-content: left;
}

.menu_container .dropdown_container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    display: none;
}

.dropdown_container > .dropdown_header{
    grid-column: 1/4;
    grid-row: 1/6;
}