/* http://meyerweb.com/eric/tools/css/reset/ 

   v2.0 | 20110126

   License: none (public domain)

*/


html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,

a, abbr, acronym, address, big, cite, code,

del, dfn, em, img, ins, kbd, q, s, samp,

small, strike, strong, sub, sup, tt, var,

b, u, i, center,

dl, dt, dd, ol, ul, li,

fieldset, form, label, legend,

table, caption, tbody, tfoot, thead, tr, th, td,

article, aside, canvas, details, embed, 

figure, figcaption, footer, header, hgroup, 

menu, nav, output, ruby, section, summary,

time, mark, audio, video {

    margin: 0;

    padding: 0;

    border: 0;

    font-size: 100%;

    font: inherit;

    vertical-align: baseline;

}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 

footer, header, hgroup, menu, nav, section {

    display: block;

}

body {

    line-height: 1;

}

ol, ul {

    list-style: none;

}

blockquote, q {

    quotes: none;

}

blockquote:before, blockquote:after,

q:before, q:after {

    content: '';

    content: none;

}

table {

    border-collapse: collapse;

    border-spacing: 0;

}

/* ############################################################## */


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





/*############ 도구 ##########################################*/
h1{
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    color: #216182;
}
label{
    display: block;
    margin-top: 20px;
    letter-spacing: 2px;
}


.alignCenter{
    margin: 0px auto;
}

/* 모달*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal > .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 500px;
    height: auto;
    border-radius: 0.5rem;
    text-align: center;
}
.modal > .modal-content > .modal-button {
    float: right;
    font-size: 20px;
    padding: 20px 80px;
    width: 50px;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.modal > .modal-content > .modal-button:hover {
    background-color: darkgray;
}
.modal-switch {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* bool 이용 모달*/
.new_modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;

}
.new_modal > .modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 500px;
    height: auto;
    border-radius: 0.5rem;
    text-align: center;
}
.new_modal > .modal-content > .modal-button {
    float: right;
    font-size: 20px;
    padding: 20px 80px;
    width: 50px;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.new_modal > .modal-content > .modal-button:hover {
    background-color: darkgray;
}












/* ####### 플렉스 ################################### */
.container-flex{display:flex;}

.container-flex.direction-col{flex-direction: column;}

.container-flex.justifyContent-end{justify-content: flex-end;}
.container-flex.justifyContent-center{justify-content: center;}
.container-flex.justifyContent-spaceBetween{justify-content: space-between;}
.container-flex.justifyContent-spaceAround{justify-content: space-around;}
.container-flex.justifyContent-spaceEvenly{justify-content: space-evenly;}

.container-flex.alignItem-flex-start{align-items : flex-start;}
.container-flex.alignItem-flex-end{align-items : flex-end;}
.container-flex.alignItem-flex-center{align-items : center;}
.container-flex.alignItem-flex-baseline{align-items : baseline;}






/*######################################################### */



/* 
전부다 뭉뚱그린다음에 안에서 또 나누지말구....
소요를 줄일수있는거는 줄이자 1분코딩님 참고하자
*/


div {

    border-style: solid;
    border-color: black;
    border-width: 1px;
}


/* 맨위 유저회원가입 등등 */
.top_user{
    
    margin: 0 auto;
    width: 1200px;

    display: flex;
    flex-direction: row-reverse;
    
    height: 26px;
}

/* 로고랑 네비 */
.logo_nav{
    margin: 0 auto;
    display: flex;
    width: 1200px;
}
.logo_nav > .logo_area{
}
.logo_nav img{
    height: 100px;
}
.logo_nav > .nav_area{
    flex-grow: 1;
}

.blank_line{
    height: 52px;
}



/* 컨텐트  */
.content_container{
    /* 중앙 정렬 */
    margin: 0 auto;
    width: 1200px;
    height: auto;

    display: flex;

    /* 플렉스 1 5 비율로*/ 
}

.content_container > .left_content{
    flex-grow: 1;
}
.content_container > .center_content{
    flex-grow: 5;
}
.content_container > .full_content{
    flex-basis: 100%;
}


.footer{
    height: 200px;
    background-color: black;

}


















/* 공통 */
.ck_button{
    padding: 2px 20px;
    background-color: blanchedalmond;
}